[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
recurring-ical-events = "==0.2.0b0"
requests = "*"
python-dotenv = "*"
datetimerange = "*"

[dev-packages]

[requires]
python_version = "3.9"
